django<=1.9.13
djangorestframework
uwsgi
wheel
django-ipfs-storage
pydevd
psycopg2
coverage

logger
attrs
cffi
cryptography>=2.2.1
cssselect
idna
lxml
parsel
pyasn1
pyasn1-modules
pycparser
PyDispatcher
pyOpenSSL
queuelib
Scrapy
scrapyd
service-identity
six
Twisted
w3lib
zope.interface
psycopg2-binary

scrapy-djangoitem
jsonpath-rw
future<0.16,>=0.15
django-celery
pillow<4.0,>=3.0
django-dynamic-scraper